body{
    font-weight: light;
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(197, 194, 194);
    height: 150vh;
}

.navigator{
    display: flex;
    justify-items: space-between;
    border:solid 2px blue;
    background-color:deepskyblue;
    color:white;
    position:fixed;
    width:100%;
}
.logo{
    background-color: blue;
}
.navigator:first-child :hover{
    background-color: grey;
    cursor: pointer;
}
.logo h3{
    display: inline-block;
    justify-items: center;

}
.fa-regular {
margin:10px;
display:inline-block;
justify-items: center;
height:50px;
width:30px;
position:relative;
top:15%;
}
.fa-regular :hover{
    background-color:grey;
    cursor: pointer;
}


.tab{
    display:flex;
    flex-direction: column;
    width:30%;

}
.first{
    border: 1px solid black;
    box-shadow:4cap;

}
.first h3{
text-align: center;
}
.first img{
    position: relative;
    left:25%;
    border-radius:100px;
}
.first h5{
   display: inline;
    }

.second{
    border: 1px solid black;
    box-shadow:4cap;
}
.second h3{
    display: inline-block;
}
.header{
    background-color:blue;
    color:white;
}

img{
    height: 30px;
    width:50px;
}

.photos{
    display:grid;
    grid-template-columns: repeat(2, 50px);
    gap:5px;

}
.third p{
    color:black;
    display:inline-block;
    border: solid 1px white;  
 }

 .third p:nth-child(-n+2){
    background-color: blue;
 }

 .third p:nth-child(n+3){
    background-color: violet ;
 }
 .third p:nth-child(n+8){
    background-color: gray ;
 }

 .third p:nth-child(n+10){
    background-color: lightgrey ;
 }

.third{
    display:flex;
    flex-wrap:wrap;
    justify-content: flex-start;
    align-items: flex-start; 
}


.wrapper12{
    display: inline-block;
    width: 200px;
    height: 48vh;
    background: white;
    position: relative;
    justify-content: space-around;
    margin: 2px;
    left: 1250px;
    
    }
    
    p{
       
        background: white;
    }
    .event, .friday, .React{
        
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 45px;
        padding: 3px;
    
        
    }
    .react{
        margin: 5px;
        margin-left: 45px;
    
    }
    .Request{
        display: inline-block;
        width: 200px;
        height: 35vh;
        background: white;
        position: relative;
        justify-content: center;
        margin: 1px;
        left: 989px;
        margin-left: 56px;
        top: 320px;
        
        
    
    
    }
    .inu{
        margin-left: 65px;
    }
    .friend{
        margin-left: 50px;
        color: black;
    }
    .img1{margin-left: 24px;
        margin-top: 10px;
        margin-bottom: 8px;
    
    }
    .img2{
        margin-left: 50px;
    }
    .info:hover{ 
        
    
    }
    .info{
        background: rgb(196, 194, 194);
        width: 180px;
        height: 40px;
        margin: 7px;
        margin-right: 98px;
        margin-left: 10px;
        text-align: center important;
        vertical-align: middle;
        padding: 0;
    
        
        
    }
    .ads{
        
        position: relative;
        top: 38vh;
        left: 354px;
        background-color: white;
        width: 200px;
        margin-top: 20px;
        left: 1251px;
    }
    h1{
    
        text-align: center;
        top: 800px;
       
        height: 50px;
        
        font-size: 1em;
        font-weight: normal;
       position: relative;
        align-self: center;
    margin-top: 12px;
       line-height: normal;
       vertical-align:middle;
       text-align: center;
       top: 12px;
    
    }
    #check{
        
        bottom: 40px;
        background-color: rgb(169, 192, 169);
        color: white;
        width: 70px;
        height: 30px;
        text-align: center;
        vertical-align: text-middle;
        margin: 0px;
        padding: 0px;
        position: relative;
        left: 26px;
        top: 20px;
    }
    
    #check:hover{
        background-color: lightgrey;
        cursor: pointer;
        color: black;
    
    
    }
    #x:hover{
        background: lightgrey;
        cursor: pointer;
        color: white;
    }
    #x{
     
        bottom: 40px;
        position: relative;
        background-color: rgb(222, 139, 139);
        width: 70px;
        height: 30px;
        text-align: center;
        margin: 0px;
        padding: 0px;
        top: 20px;
        right: -18px;
        left: 25px;
        
    
    }
    #bug{
        
       line-height: normal;
       vertical-align: middle;
       text-align: center;
       display: inline-block;
       position: relative;
       left: 68px;
        bottom: 14px;
        
    }
    .bug{
        
        line-height: 150px;
      padding: 19px;
        background: white;
        width: 161px;
        height: 14vh;
        top: 325px;
        left:1256px ;
    
        position: relative;
        
    }
    
    button{
        width: 180px;
        height: 40px;
        margin: 6px;
        margin-right: 98px;
        margin-left: 10px;
        text-align: center important;
        vertical-align: middle;
        padding: 0;
        border: none;
        cursor: pointer;
        transform: matrix(1.1);
        
    
    
    
    
    
    }
    button:hover{
        background-color: grey;
    
    
    }
    .info:hover{
        background-color: grey;
    }
    
 